ul {
  list-style-type: none;
  overflow: hidden;
  padding-inline-start: 2em !important;
}

li:not(:has(ul)) {
  display: flex;
  align-items: center;
  gap: 4px;
}

li:has(ul) > img {
  margin-top: -2px;
}

li a {
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

li:not(.active) > a {
  color: var(--fgColor-default);
}

li:not(.active) > a:hover {
  color: orange;
  transform: translateX(0.25em);
}

li.active > a {
  font-weight: bold;
  color: #c78358;
}

li img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
