ul {
  list-style-type: none;
  overflow: hidden;
}

li:not(:has(ul)) {
  display: flex;
  align-items: center;
  gap: 4px;
}

li:has(ul) > img {
  margin-top: -2px;
}

li:not(.active) > a {
  color: var(--fgColor-default);
}

li.active > a {
  font-weight: bold;
  background: linear-gradient(271deg, #5800ff, #f6441a);
  background-clip: text;
  --webkt-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
